@import "tailwindcss";

:root {
  /* O fallback caso o Zustand demore um milissegundo para hidratar */
  --theme-accent: #6a8a8e;
  --theme-danger: #8b0000;
  --theme-warning: #cc7a00;
  --theme-success: #004d00;
}

body {
  background-color: #000;
  color: var(--theme-accent);
  font-family: "Courier New", Courier, monospace;
  overflow-x: hidden;

  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

input,
textarea,
[contenteditable="true"] {
  -webkit-user-select: auto;
  user-select: auto;
}

::-webkit-scrollbar {
  width: 14px;
  height: 14px;
  background: #050505;
  border-left: 1px solid #222;
}

::-webkit-scrollbar-thumb {
  background: var(--theme-accent);
  border: 2px solid #050505; /* Efeito de padding interno */
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

::-webkit-scrollbar-corner {
  background: #050505;
}

.crt-overlay {
  background: var(--theme-background);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.crt-overlay::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background:
    linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  background-size:
    100% 4px,
    6px 100%;
  pointer-events: none;
}

.flicker-effect {
  animation: crtFlicker 0.15s infinite;
}

@keyframes crtFlicker {
  0% {
    opacity: 0.95;
    transform: translateX(1px);
  }
  50% {
    opacity: 0.85;
  }
  100% {
    opacity: 0.95;
    transform: translateX(0px);
  }
}

.glow-text {
  text-shadow: 0 0 6px var(--theme-accent);
}

button,
select,
input {
  cursor: pointer;
}

/* color picker */
.custom-layout .react-colorful__pointer {
  width: 16px;
  height: 16px;
  border-radius: 0;
  border: 2px solid #fff;
  background-color: transparent;
}

.custom-layout .react-colorful__hue {
  height: 12px;
  border-radius: 0;
  border: 1px solid #333;
  margin-top: 8px;
}

.custom-layout .react-colorful__saturation {
  border-radius: 0;
  border: 1px solid #333;
}
